/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #3bbb90;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(138, 138, 139) 0%,
    rgba(60, 60, 61, 0.9) 59%,
    rgba(70, 70, 71, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}


.container {
  width: 100vw;
    height: 1000px;
  /* border: 2px solid red; */
} 


.textarea,.textareaio{
  resize: none;
  
}
.page{
 margin: 0px;
 font-family: Segoe,'Segoe UI', DejaVu Sans, Trebuchet MS, Verdana, "sans-serif"; 
 font-size: 1rem;
 line-height: 1.5rem;
 color: #333;
 
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.bar {
  display: flex;
  justify-content:space-evenly;

}


/* .navbar-brand {
  height: 68px;
}

.video-background{
  position: absolute;
  width: 150px;
  height: 350px;
  background-color: rgb(0, 0,0,0.2);
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
.btn1 {
  display: inline-block;
  background: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn1:focus {
  outline: none;
}

.btn1:active {
  transform: scale(0.98);
}

.btn1-block {
  display: block;
  width: 100%;
}





.sidebar{
  /* max-height: 100%; */
  display:flex;
  flex-direction: column;
  float: left;
  margin: 50px 50px 25px 10px;
}

.dpdown{

  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  
}

#user-img{
  margin-left: auto;
  margin-right: auto;
}
/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100000;
}

.box3{
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/*.account {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;
background: #eee;
}
.account.account--photo {
  background: #6fb9fb;
}
.account.account--photo .account__card {
  background-color: rgba(0, 10, 16, 0.8);
  color: #fff;
}
.account.account--photo .form__form-group-icon, .account.account--photo .form__form-group-button {
  background: transparent;
}
.account.account--photo .form__form-group-icon, .account.account--photo input:not(:last-child) {
  border-right: none;
}
.account.account--photo .form__form-group-button, .account.account--photo input {
  border-left: none;
}
.account.account--photo .form__form-group-button.active {
  border-color: #eff1f5;
}
.account.account--photo .form__form-group-button.active svg {
  fill: #eee;
}
.account.account--photo input {
  color: #fff;
}
.account.account--photo input:focus {
  border-color: #eff1f5;
}
.account.account--photo p {
  color: #fff;
}
.account.account--photo .account__title {
  color: #fff;
}
.account__wrapper {
  margin: auto;
  padding: 10px;
}
.account__card {
  background-color: #fff;
margin: 30px auto auto auto;
  padding: 50px 60px;
width: 500px;
}
.account__profile {
  text-align: center;
}
.account__btns {
  display: flex;
  width: calc(100% + 10px);
  margin: -10px 0 -20px -10px;
}
.account__btns a {
  margin: 10px 0 20px 10px;
  white-space: nowrap;
}
.account__btn {
  width: 100%;
  margin-right: 0;
}
.account__avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.account__name {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 15px;
  margin: 5px 0 5px 0px;
}
.account__sub {
  margin-top: 0;
  margin-bottom: 10px;
  color: #656262;
  font-size: 11px;
  line-height: 15px;
}
.account__forgot-password {
  position: absolute;
  font-size: 11px;
  line-height: 15px;
  bottom: -18px;
  right: 0;
}
.account__forgot-password a {
  color: #70bbfd;
}
.account__forgot-password a:hover {
  color: #3ea3fc;
  text-decoration: none;
}
.form__form-group--forgot {
  margin-bottom: 40px;
}
.account__or {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  position: relative;
}
.account__or:before, .account__or:after {
  content: "";
  height: 1px;
  width: calc(50% - 90px);
  background: #ddd;
  position: absolute;
  top: 10px;
}
.account__or:before {
  left: 0;
}
.account__or:after {
  right: 0;
}
.account__social {
  text-align: center;
}
.account__social-btn {
  display: inline-block;
  height: 38px;
  width: 38px;
  border-radius: 5px;
  padding: 9px;
  margin-right: 10px;
  transition: all 0.3s;
  border: none;
}
.account__social-btn:last-child {
  margin-right: 0;
}
.account__social-btn svg {
  fill: #fff;
  height: 20px;
  width: 20px;
}
.account__social-btn.account__social-btn--facebook {
  background: #4766a4;
}
.account__social-btn.account__social-btn--facebook:hover {
  background: #385080;
}
.account__social-btn.account__social-btn--google {
  background: #c74d4d;
}
.account__social-btn.account__social-btn--google:hover {
  background: #ab3636;
}
.account__head {
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 4px solid #70bbfd;
}
.account__logo {
  font-weight: 700;
}
.account__logo-accent {
  color: #70bbfd;
}
.account__have-account {
  text-align: center;
  margin-top: 20px;
}
.account__have-account a {
  color: #70bbfd;
  transition: all 0.3s;
}
.account__have-account a:hover {
  color: #3ea3fc;
  text-decoration: none;
}
@media screen and (max-width: 520px) {
  .account__card {
      padding: 35px 30px;
 }
}
@media screen and (max-width: 425px) {
  .account__btns {
      flex-wrap: wrap;
 }
}

.form-control {
margin: 10px 0px;
}

.header-editor {
background: #fff;
outline: none;
padding: 20px;
border: 1px solid #b3b3b1;
}

.body-editor {
outline: none;
background: #fff;
height: 100vh;
padding: 20px;
border: 1px solid #ccc;
}

.currentusers {
margin: 20px 0;
display: flex;
}

.navbar-brand {
font-size: 16px;
}

.userInfo {
width: 40px;
height: 40px;
display: -webkit-flex;
display: flex;
border-radius: 50%;
margin-right: 10px;
background: #FFF;
}



.main-content {
display: flex;
flex-wrap: nowrap;
padding: 15px 50px;
background: #eee;
}

.document-holder {
flex: 1;
}

.history-holder {
width: 300px;
background: #FFF;
min-width: 300px;
margin: 80px 0px 90px 15px;
height: 100vh;
border: 1px solid #ccc;
}

.history-holder ul {
padding: 9px;
list-style: none;
font-size: 12px;
color: #4e4e4e;
}*/
